#layout {
  margin-bottom: 30px;
  margin-top: 30px;
}

/* .fictiveimage {
  width: 100%;
  min-height: 300px;
} */


#worldmap {
  width: 100%;
  min-height: 400px;
}


#citysearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

}

@media screen and (max-width: 660px) {
  .formtypetext {
    max-width: 150px;
    margin-right: 15px;
    margin-left: 7px;
  }

  .formclickbutton {
    width: 100px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.meteodescription {
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 305px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.formclickbutton {
  background-color: rgb(255, 191, 67);
  border: none;
}
.formclickbutton:hover {
  background-color: rgb(255, 140, 67);
}

.deletepicto {
  color: rgb(255, 191, 67);
  cursor: pointer;
}

.deletepicto:hover {
  color: rgb(255, 140, 67);
}

.formArea {
  padding: 20px;
  margin-top: 30px;
}

.home {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px black;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background: rgba(0, 0, 0, 0.3) !important;
  border: none !important;
  color: #FFFFFF !important;
  text-align: center;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFFFF !important;
  opacity: 1; !important; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF !important;;
}

input:-webkit-autofill {
  border: none !important;
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input:focus,
input:-webkit-autofill:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 0 0px 9999px white, 0 0 8px
      rgba(102, 175, 233, 0.6);
}

.titleForm {
  color: #69737C;
  padding-bottom: 10px;
}

.navItem {
  margin-bottom: 10px;
}

.userName {
  font-size: 56px !important;
}

